* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F5F2E7;
}

/* HEADER - NAV */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 42px;
    background-color: #2C3333;
}

.logo {
    max-width: 3.3rem;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0 0 10px #F5F2E7;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 42px;
    align-items: center;
}

.nav-list li {
    padding-top: 1em;
    display: flex;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: #F5F5E7;
    transition: font-size 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffffff;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 720px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #F5F2E7;
    }

    .cerrar-menu {
        color: #F5F2E7;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2C3333;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 2;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        margin-right: 2em;
        flex-direction: column;
        align-items: end;
        height: 100%;
    }

    .nav-list li a {
        color: #F5F2E7;
    }
}

/* FORM SECTION */

.form-section {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    size: 20rem;
    z-index: 0;
}

.form-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.form-container label {
    font-weight: bold;
    font-size: 20px;
    color: #F5F5E7;
}

.form-container h1 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: rgba(44, 51, 51, 0.6);
}

@media (max-width: 768px) {
    .form-container {
        text-align: center;
    }

    .form-container h1 {
        font-size: 24px;
    }

    .card {
        display: inline-block;
        width: 100%;
    }

    .form-container input {
        width: 100%;
        display: none;
    }

    .form-container label {
        display: none;
    }

    .form-container button {
        margin-top: -20px;
        width: 100%;
    }
}

.bg-2 {
    height: 100%;
    width: 100%;
    float: right;
    max-height: 50em;
    color: #D9D9D9;
}

.overlay-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    opacity: 1;
    background: linear-gradient(to bottom, #D9D9D9 10%, transparent 100%);
}

.overlay-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(to top, #2C3333 0.01%, transparent 30%);
}

/* FOOTER */

.footer {
    background-color: #2C3333;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #F5F2E7;
}

.footer-column {
    flex-basis: 100%;
    flex-grow: 1;
    text-align: left;
    margin-bottom: 1.5rem;
}

.footer-column h3 {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 16px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.footer-column li {
    margin-bottom: 0.5rem;
}

.footer-column a {
    color: #F5F2E7;
    text-decoration: none;
}

.footer p {
    font-size: 10px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 0.5rem;
    justify-content: left;
    align-items: center;
}

.social-icons a i {
    font-size: 1.5rem;
    color: #F5F2E7;
}

@media (min-width: 800px) {
    .footer {
        flex-wrap: nowrap;
    }

    .footer-column {
        flex-basis: auto;
        flex-grow: 0;
        width: 25%;
        margin-bottom: 0;
    }
}