* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F5F2E7;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 42px;
    background-color: #2C3333;
}

.logo {
    max-width: 3.3rem;
    transition: transform 0.3s ease-in-out;

}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0 0 10px #F5F2E7;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 42px;
}

.nav-list li a {
    text-decoration: none;
    color: #F5F5E7;
    transition: font-size 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffffff;
}

.btn-phone {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
    background-color: #F5F2E7;
    border-radius: 50px;
    width: 12rem;
    height: 1.3rem;
}

.btn-phone:hover {
    transform: scale(1.1);
    background-color: #2666CF;
    cursor: pointer;
}

.btn-phone i {
    padding-left: 0.5rem;
}

.btn-phone:hover i {
    color: #F5F2E7;
    animation: vibrar 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes vibrar {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }

    20% {
        transform: translate3d(-2px, 2px, 0) rotate(-2deg);
    }

    40% {
        transform: translate3d(2px, -2px, 0) rotate(2deg);
    }

    60% {
        transform: translate3d(-2px, 2px, 0) rotate(-2deg);
    }

    80% {
        transform: translate3d(2px, -2px, 0) rotate(2deg);
    }

    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

.btn-phone p {
    text-decoration: none;
    color: #2C3333;
}

.btn-phone:hover p {
    text-decoration: none;
    color: #F5F2E7;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #F5F2E7;
    }

    .cerrar-menu {
        color: #F5F2E7;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2C3333;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #F5F2E7;
    }
}

.info-section {
    position: relative;
    display: flex;
    align-items: end;
    size: 20rem;
    justify-content: flex-end;
    z-index: -1;
}

.bg-1 {
    height: 100%;
    width: 100%;
    max-width: 48rem;
    float: right;
    color: #D9D9D9;
}

.overlay-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    opacity: 1;
    background: linear-gradient(to right, #D9D9D9 53%, transparent 100%);
}

.form-section {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    size: 20rem;
    z-index: -1;
}

.bg-2 {
    height: 100%;
    width: 100%;
    float: right;
    color: #D9D9D9;
}

.overlay-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    opacity: 1;
    background: linear-gradient(to bottom, #D9D9D9 10%, transparent 100%);
}

.overlay-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(to top, #2C3333 0.01%, transparent 30%);
}

.footer {
    height: 120px;
    width: 100%;
    background-color: #2C3333;
    z-index: 0;
}